<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Pepper Test</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
{#    <script type="text/javascript" src="http://apps.bdimg.com/libs/socket.io/0.9.16/socket.io.min.js"></script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript">
        $(function() {
            var input = $("#message");
            var log = $("#log");

            var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('show message', function(msg) {
                if (log.scrollTop() + log.innerHeight() >= log[0].scrollHeight) {
                    log.append('<p>' + msg.data + '</p>').scrollTop(log.prop("scrollHeight"));
                } else {
                    log.append('<p>' + msg.data + '</p>');
                }
            });

            $("button#send_message").click(function() {
                if (input.val() !== '') {
                    socket.emit('send message', {data: input.val()});

                    input.val('').focus();
                }
            });
        });
    </script>
</head>
<body>
<main>
    <div id="log"></div>

    <hr />

    <div id="input">
        <textarea id="message" name="message" placeholder="Message"></textarea>
        <button id="send_message" type="button">Send</button>
    </div>
    <div style="clear: both;"></div>
</main>
</body>
</html>